body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
  background-color: #ffffff;
}

.key-link-header {
  text-decoration: none;
  font-family: "Raleway";
  color: #2e2f42;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
}

.page-nav .link {
  font-weight: 500;
  line-height: 24px;
}

.link {
  text-decoration: none;
  color: #2e2f42;
  font-style: normal;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

span {
  color: #4d5ae5;
}

.section-one {
  background-color: #2e2f42;
  text-align: center;
}

.section-two {
  background-color: #f4f4fd;
  text-align: center;
}

.page-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
}

.button {
  background-color: #4d5ae5;
  color: #fff;
  font-weoght: 500;
}

h2 {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}

.key-link-footer {
  text-decoration: none;
  font-family: "Raleway";
  color: #f4f4fd;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
}
